:admin:$6$NsW2tSQShrvw6JIk$.8a1xTmYV4/KmxPslasJjlMWdfa6wPQnVqt5ZWUQnmNTKl6BLoeYIpE/sOHhRmjuY.kKWjaFnYr0JTF2tOZxi1::Mark Phillips:admin:mark@vntx.cc::
:awx:$6$bDSoY.kND5yb4tEY$.IKVftYmSSQO2uDcX/LrQJmNthK20OmiXbOTw99Z.Q7SEYQjcY5Fa.0TLB1UYK0CR92DOxLyxHnOrYawE9XdD1::Ansible:admin;user:::
